certifi==2020.12.5
numpy==1.20.1
nvidia-cublas==11.3.1.68
nvidia-cuda-nvrtc==11.1.105
nvidia-cuda-runtime==11.2.72
nvidia-cudnn==8.1.0.77
nvidia-tensorrt==0.0.1.dev4
torch==1.8.0
typing-extensions==3.7.4.3
